<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

     <ion-title>Exercicios de Peito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card *ngIf="peito">
    <ion-card-header>
      <img [src]="peito.imagem" style="align-self: center;">
    </ion-card-header>
    <ion-card-content>
      <h1>{{peito.nome}}</h1>
      <h2>{{peito.descricao}}</h2>
    </ion-card-content>
  </ion-card>
