<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

     <ion-title>Meu Plano</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card *ngIf="exercicio">
    <ion-card-header>
      <img [src]="exercicio.imagem" style="align-self: center;">
    </ion-card-header>
    <ion-card-content>
      <h1>{{exercicio.nome}}</h1>
      <h2>{{exercicio.descricao}}</h2>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-checkbox slot="end" [indeterminate]="true"></ion-checkbox>
    <ion-label>{{exercicio.series}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-checkbox slot="end" [indeterminate]="true"></ion-checkbox>
    <ion-label>{{exercicio.series}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="end" [indeterminate]="true"></ion-checkbox>
    <ion-label>{{exercicio.series}}</ion-label>
  </ion-item>

</ion-content>
